html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: #e7e8e8 !important;
  background: #0f1318 !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.header-image {
  margin-left: 40%;
}

.image {
  height: 100px;
  width: 100px;
  border-radius: 4px;
}

.gallery {
  display: flex;
}

.thirdweb {
  height: 100px;
  width: 100px;
}

.card {
  padding: 20px;
  border-radius: 2rem;
  background-color: rgb(37, 36, 36);
  margin-right: 20px;
}
